html, body {
    background-color: fafafa;
    color: #555;
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
}
a:link, a:visited {
    color: #36A9E0;
    text-decoration: none;
}

a:hover {
    color: #065272;
}

main {
    margin: 3rem auto;
    max-width: 90vw;
    width: 50ch;
}

h1 {
    color: #333;
}